<%= form_for([@event, @ticket_type]) do |f| %>
  <% if @ticket_type.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@ticket_type.errors.count, "error") %> prohibited this ticket_type from being saved:</h2>

      <ul>
      <% @ticket_type.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name, 'Namn' %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description, 'Beskrivning' %><br />
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.label :price, 'Pris' %><br />
    <%= f.text_field :price %>
  </div>
  <div class="field">
    <%= f.label :maximum_number_of_tickets, 'Maximalt antal biljetter' %> (0 == oändligt)<br />
    <%= f.text_field :maximum_number_of_tickets %>
  </div>
  <div class="field">
    <%= f.label :available_for_union, 'Säljs endast till kår' %><br />
    <%= f.select :available_for_union, Studentkoll.unions, { :include_blank => true } %>
  </div>
  <hr />
  <h3>Kårrabatt</h3>
  <div class="field">
    <%= f.label :union_discount, 'Rabatt för kårmedlemskap' %> (oavsett kår)<br />
    <%= f.text_field :union_discount %>
  </div>
  <hr />
  <h3>Extra kårrabatt</h3>
  <div class="field">
    <%= f.label :extra_discount_for_union, 'Kår' %>
    <%= f.select :extra_discount_for_union, Studentkoll.unions, { :include_blank => true } %>
  </div>
  <div class="field">
    <%= f.label :extra_discount, 'Rabatt för vald kår' %><br />
    <%= f.text_field :extra_discount %>
  </div>
  <div class="field">
    <%= f.label :number_of_extra_discount_tickets, 'Begränsa antal biljetter för vald kår' %> (0 == oändligt)<br />
    <%= f.text_field :number_of_extra_discount_tickets %>
  </div>
  <div class="field">
    <%= f.label :use_time_to_enable_extra_discount, 'Aktivera extra kårrabatt vid viss tid' %>
    <%= f.check_box :use_time_to_enable_extra_discount, {
          :onChange => '$(time_enabled_extra_discount).toggle();'
        } %>
  </div>
  <div class="field" id="time_enabled_extra_discount" <%= @ticket_type.use_time_to_enable_extra_discount? ? "" : "style='display:none;'" %>>
    <%= f.label :enable_extra_discount_at, 'Extra kårrabatt från:' %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <%= f.datetime_select :enable_extra_discount_at, :default => 3.days.from_now.midnight %>
    <br />
    <%= f.label :disable_extra_discount_at, 'Extra kårrabatt fram till:' %>
    <%= f.datetime_select :disable_extra_discount_at, :default => 9.days.from_now.midnight %>
  </div>
  <hr />
  <h3>Försäljning</h3>
  <div class="field">
    <%= f.check_box :always_save %>
    <%= f.label :always_save, 'Spara statistik. OBS: Alltid då det endast finns en biljetttyp.' %><br />
  </div>

  <div class="actions">
    <%= f.submit 'Spara' %>
  </div>
<% end %>
