<%= link_to 'Tillbaka', event_path(@event) %>

<h1>Biljettyper</h1>

<table>
  <tr>
    <th>Name</th>
    <th></th>
    <th></th>
  </tr>

<% @ticket_types.each do |ticket_type| %>
  <tr>
    <td><%= ticket_type.name %></td>
    <td><%= link_to 'Ändra', edit_event_ticket_type_path(@event, ticket_type) %></td>
    <td>
      <% if ticket_type.safe_for_deletion? %>
        <%= link_to 'Ta bort', event_ticket_type_path(@event, ticket_type), :confirm => 'Are you sure?', :method => :delete %>
      <% end %>
    </td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Ny biljettyp', new_event_ticket_type_path(@event) %>
