<%= form_for([@event, @visitor]) do |f| %>
  <% if @visitor.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@visitor.errors.count, "error") %> prohibited this visitor from being saved:</h2>

      <ul>
      <% @visitor.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  
  <div class="field">
    <%= label :ticket_type, :id %><br />
    <%= select :ticket_type, :id, @event.ticket_types.collect {|t| [t.name, t.id]} %>
  </div>
  
  <div class="field">
    <%= f.label :personal_number %><br />
    <%= f.text_field :personal_number %>
  </div>
  <div class="field">
    <%= f.label :first_name %><br />
    <%= f.text_field :first_name %>
  </div>
  <div class="field">
    <%= f.label :last_name %><br />
    <%= f.text_field :last_name %>
  </div>
  <div class="actions">
    <%= f.submit 'Skapa' %>
  </div>
<% end %>
