<%= form_for([@event, @visitor]) do |f| %>
  <% if @visitor.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@visitor.errors.count, "error") %> prohibited this visitor from being saved:</h2>

      <ul>
      <% @visitor.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="field">
    <%= f.label "Förnamn" %><br />
    <%= f.text_field :first_name %>
  </div>
  <div class="field">
    <%= f.label "Efternamn" %><br />
    <%= f.text_field :last_name %>
  </div>
  <div class="field">
    <%= f.label "E-post" %><br />
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label "Personnummer" %><br />
    <%= f.text_field :personal_number %>
  </div>
  <div class="field">
    <%= f.label "RFID-nummer" %><br />
    <%= f.text_field :rfid_number %>
  </div>
  <div class="field">
    <%= f.label "Streckkodsnummer" %><br />
    <%= f.text_field :barcode_number %>
  </div>
  <div class="actions">
    <%= f.submit 'Spara' %>
  </div>
<% end %>
