<ul>
  <% for visitor in @visitors %>
  <li>
    <h1><%= link_to visitor, [@event, visitor] %> <%= visitor.personal_number %></h1>
    <ul>
      <% if visitor.tickets.empty? %>
        <li>Har inga biljetter till detta evenemang</li>
      <% end %>
      <% for ticket in visitor.tickets.select {|t| t.registration.event == @event } %>
        <li id="<%= dom_id(ticket) %>" style="font-size: 150%;">
          <% if ticket.handed_out? %>
            <strong><%= ticket %> utlämnad</strong>
          <% else %>
            <%= ticket %>
            <%= link_to "Lämna ut", handout_event_ticket_path(@event, ticket), :method => :put, :remote => true, :id => 'handout' %>
              </li>
          <% end %>
        </li>
      <% end %>
    </ul>
  </li>
  <br />
  <br />
  <br />
  <hr />
  <% end %>
</ul>

<% if @visitors.size == 1 %>
<script type="text/javascript" charset="utf-8">
  $('handout').focus();
</script>
<% end %>