<tr>
<td><%= visitor_row.first_name %></td>
<td><%= visitor_row.last_name %></td>
<td><%= visitor_row.email %></td>
<td><%= visitor_row.personal_number %></td>
<td><%= visitor_row.barcode_number %></td>
<td><%= visitor_row.created_at %></td>
<td><%= visitor_row.rfid_number %></td>
</tr>