<div class="span-12">
<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :username, 'Användarnamn' %><br />
    <%= f.text_field :username %>
  </div>
  <p class="quiet">
    Både användarnamn och e-post kan användas för att logga in.
  </p>
  <div class="field">
    <%= f.label :email, 'E-post' %><br />
    <%= f.text_field :email %>
  </div>
  <p class="quiet">
    Det är viktigt att e-post-adressen är rätt, annars kommer användaren inte kunna logga in, då instruktionerna skickas via e-post.
  </p>

  <% if current_user.admin? %>
    <div class="field">
      <%= f.check_box :admin, :onChange => "if ($(user_admin).checked) { alert('Säker på att ge ut dessa rättigheter?') }", :disabled => @user == current_user %>
      <%= f.label :admin, 'Administratör' %>
      <% if @user == current_user %>
        (Du kan inte ändra din egen status)
      <% end %>
    </div>
    <p class="quiet">
      En administratör får hantera allas evenemang, lägga till och ta bort användare samt logga in som andra. Ge endast denna rättighet till folk du litar på.
    </p>
  <% end %>

  <div class="actions">
    <%= f.submit 'Spara' %>
  </div>
<% end %>
</div>
