<p>
  <%= link_to 'Tillbaka', root_path %>
</p>


<div class="span-10">
  <h1><%= @user %></h1>

  <% if current_user.admin? %>
  <p>
    <%= link_to 'Ändra användaren', edit_user_path(@user) %>
  </p>
  <% end %>

  <table>
    <tr>
      <td>Användarnamn:</td> <td><%= @user.username %></td>
    </tr>
    <tr>
      <td>E-post:</td> <td><%= mail_to @user.email %></td>
    </tr>
    <tr>
      <td>Senast inloggad: </td> <td><%= @user.current_sign_in_at %></td>
    </tr>
    <tr>
      <td>Evenemang:</td>
      <td>
        <% @user.events.each do |event| %>
          <%= link_to event, event %>
        <% end %>
      </td>
    </tr>
  </table>

  <h3>API</h3>
  <table>
    <tr>
      <td>Användarnamn:</td> <td><code><%= @user.username %></code></td>
    </tr>
    <tr>
      <td>API-nyckel:</td> <td><code><%= @user.api_key %></code></td>
    </tr>
  </table>
  <p>
    API-nyckeln används i kombination med ditt användarnamn för att jobba mot KOBRAs API.
    <em>Låt aldrig någon annan ta del av din API-nyckel.</em>
  </p>
</div>

<div class="span-14 clear">
  <h2>API-dokumentation</h2>
    <h3>Alternativ</h3>
    <ul>
      <li>JSON: <code>http://kobra.ks.liu.se/students/api.json</code></li>
      <li>XML: <code>http://kobra.ks.liu.se/students/api.xml</code></li>
    </ul>

    <h3>Klienter</h3>
    <ul>
      <li>Ruby: <a href="https://github.com/LinTek/kobra_client">kobra_client</a></li>
    </ul>

    <h3>Inparametrar</h3>
    <table>
      <tr>
        <th>Parameter</th>
        <th>Exempelvärde</th>
      </tr>
      <tr>
        <td><code>liu_id</code></td>
        <td><code>johec890</code></td>
      </tr>
      <tr>
        <td><code>email</code></td>
        <td><code>johec890@student.liu.se</code></td>
      </tr>
      <tr>
        <td><code>personal_number</code></td>
        <td><code>860421-0000</code></td>
      </tr>
      <tr>
        <td><code>rfid_number</code></td>
        <td><code>3479871166</code></td>
      </tr>
      <tr>
        <td><code>barcode_number</code></td>
        <td><code>975226854847805</code></td>
      </tr>

    </table>

    <h3>JSON-exempel</h3>
<pre><code>$ curl -u '<%= @user.username %>:<%= @user.api_key %>' -F \
'liu_id=johec890' https://kobra.ks.liu.se/students/api.json</code></pre>

<pre><code>{
    "barcode_number": "975226854847805",
    "blocked": null,
    "email": "johec890@student.liu.se",
    "first_name": "JOHAN",
    "last_name": "ECKERSTRÖM",
    "liu_id": "johec890",
    "personal_number": "860421-0000",
    "rfid_number": "3479871166",
    "union": "LinTek"
}</code></pre>
</div>