<p>
  <%= link_to 'Tillbaka', root_path %>
</p>


<div class="span-10">
  <h1><%= @user %></h1>

  <% if current_user.admin? %>
  <p>
    <%= link_to 'Ändra användaren', edit_user_path(@user) %>
  </p>
  <% end %>

  <table>
    <tr>
      <td>Användarnamn:</td> <td><%= @user.username %></td>
    </tr>
    <tr>
      <td>E-post:</td> <td><%= mail_to @user.email %></td>
    </tr>
    <tr>
      <td>Senast inloggad: </td> <td><%= @user.current_sign_in_at %></td>
    </tr>
    <tr>
      <td>Evenemang:</td>
      <td>
        <% @user.events.each do |event| %>
          <%= link_to event, event %>
        <% end %>
      </td>
    </tr>
  </table>

  <h3>API</h3>
  <table>
    <tr>
      <td>Användarnamn:</td> <td><code><%= @user.username %></code></td>
    </tr>
    <tr>
      <td>API-nyckel:</td> <td><code><%= @user.api_key %></code></td>
    </tr>
  </table>
  <p>
    API-nyckeln används i kombination med ditt användarnamn för att jobba mot KOBRAs API.
    <em>Låt aldrig någon annan ta del av din API-nyckel.</em>
  </p>
</div>

<div class="span-10">
  <H3>Dokumentation</h3>
  <p>Testa med curl: </p>
  <pre><code>curl -u '<%= @user.username %>:<%= @user.api_key %>' -F \
'liu_id=johec890' https://kobra.ks.liu.se/students/api</code></pre>
</div>