<%= form_for(@event) do |f| %>
  <% if @event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% @event.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title, 'Namn' %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :description, 'Beskrivning' %><br />
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.check_box :electronic_tickets %>
    <%= f.label :electronic_tickets, 'Elektroniska biljetter' %>
  </div>
  <div class="field">
    <%= f.check_box :permanent %>
    <%= f.label :permanent, 'Permanent' %>
  </div>
  <div class="actions">
    <%= f.submit 'Spara' %>
  </div>
<% end %>
