<%= link_to 'Tillbaka', @event %>

<h1>Inpassering för <%= @event %></h1>

<!-- Sök student -->
<%= form_for(:visitor, :url => search_event_visitor_path(@event),
  :remote => true, 
  :loading => "Element.show('spinner')",
  :complete => "Element.hide('spinner')") do |f| %>
  <%= f.text_field :query %>
  <%= f.submit "Sök efter besökare" %>
  <img src="/images/spinner.gif" style="display: none; border:none; margin-bottom: -0.5em;" id="spinner" alt="" />
<% end %>

<script type="text/javascript" charset="utf-8">
  $('visitor_query').focus();
</script>

<div id="results"></div>