<%= link_to 'Tillbaka', @event %>

<h1>Utlämning för <%= @event %></h1>

<!-- Sök student -->
<%= form_for(:visitor, :url => search_event_visitor_path(@event), :remote => true) do |f| %>
  <%= f.text_field :query %>
  <%= f.submit "Sök efter besökare" %>
<% end %>

<div id="results"></div>