<p>
  <%= link_to 'Tillbaka', @event %>
</p>

<div class="span-12">

  <h2>
    <%= @event %>
    <img src="/images/spinner.gif" style="display: none; border:none; margin-bottom: -0.5em;" id="spinner" alt="" />
  </h2>

  <!-- Sök student -->
  <%= form_for(:student, :url => search_event_students_path(@event), :remote => true) do |f| %>
    <%= f.text_field :query %>
    <%= f.submit "Sök efter student", :onclick => "$('spinner').show();"  %>
  <% end %>
  <br /><br /><br />

  <%= form_for(:student, :url => multi_search_event_students_path(@event), :remote => true) do |f| %>
    <%= f.hidden_field :atr_0 %>
    <%= f.submit "", :id => 'multi_submit_0', :style => "display:none;", :onclick => "$('spinner').show();"  %>
  <% end %>

  <%= form_for(:student, :url => multi_search_event_students_path(@event), :remote => true) do |f| %>
    <%= f.hidden_field :atr_1 %>
    <%= f.submit "", :id => 'multi_submit_1', :style => "display:none;", :onclick => "$('spinner').show();"  %>
  <% end %>

  <div style="margin-top:1em;" id="results"></div>
  <ul style="margin-top:1em;" id="multi_results"></ul>

<% if @event.electronic_tickets? %>
  <hr />

  <h3>För icke-studenter</h3>

  <%= form_for(:non_student, :url => sale_event_tickets_path(@event), :remote => true) do |f| %>
    <%= f.label :firstname, 'Förnamn' %> <br /><%= f.text_field :first_name %><br />
    <%= f.label :last_name, 'Efternamn' %> <br /><%= f.text_field :last_name %> <br />
    <%= f.label :personal_number, 'Personnummer (ÅÅMMDD-XXXX)' %> <br /><%= f.text_field :personal_number %>

    <% unless @event.available_ticket_types.empty? %>
      <ul style="">
      <% @event.available_ticket_types.each do |ticket_type| %>
        <% has_ticket = (@visitor && @visitor.tickets.collect {|t| t.ticket_type}.include?(ticket_type)) %>
        <li style="font-size:150%; margin-bottom: 0.5em; list-style-type:none;">
          <%= check_box_tag "ticket_type[#{ticket_type.id}]", "1", @event.available_ticket_types.size == 1,
            :disabled => has_ticket %>
          <%= label_tag "ticket_type[#{ticket_type.id}]", ticket_type %>
          <% if has_ticket %>
            (redan registrerad)
          <% end %>
        </li>
      <% end %>
      </ul>
    <% else %>
      <p>Finns inga tillgängliga biljetter.</p>
    <% end %>

    <%= f.submit "Lägg in biljett manuellt", :onclick => "$('spinner').show();"  %>

  <% end %>
<% end %>

  <script type="text/javascript" charset="utf-8">
    $('student_query').focus();
  </script>

</div>

<div class="span-8 last">
  <h3>Sökning</h3>
  <p>
    När RFID-läsare används måste sökfältet vara markerat. Data som inläses av läsaren skrivs in där markören står.
  </p>
  <p>
    Sökbara termer är RFID-nummer, streckkodsnummer, personnummer (ÅÅMMDD-XXXX) samt namn.
  </p>

  <h3>Rabatter</h3>
  <p>
    Kårmedlemskap visas då en student hittas via sökning.<br />
    Rabatter beräknas när en biljett har sparats, för att säkerhetsställa att det maximala antalet rabatterade biljetter inte överskrids.
  </p>

  <p class="highlight">
    DET ÄR VIKTIGT ATT ALLA BILJETTER SOM SÄLJS TILL KÅRMEDLEMMAR REGISTRERAS.
  </p>

  <h3>Avancerad</h3>
  <p>
    <%= link_to 'Använd flera RFID-läsare', multi_sale_event_path(@event) %>
  </p>

  <h3>Vid problem</h3>
  <p>
    Vid strul kontakta:<br />
    <a href="mailto:johan@duh.se">Johan Eckerström</a> 0732411798
  </p>
</div>

<!-- <script type="text/javascript" charset="utf-8">
  Event.observe(document, 'keypress', function(event){
     numKeyPressed = event.keyCode - 48;
     if (numKeyPressed) {
        if ($("ticket_type_" + numKeyPressed).checked == 1) {
          $("ticket_type_" + numKeyPressed).checked = 0;
        } else {
          $("ticket_type_" + numKeyPressed).checked = 1;
        }
     }
  });
</script>
 -->

