<p>
  <%= link_to 'Tillbaka', @event %>
</p>

<div class="span-12">

  <h1>Försäljning för <%= @event %></h1>

  <!-- Sök student -->
  <%= form_for(:student, :url => search_event_students_path(@event), :remote => true) do |f| %>
    <%= f.text_field :query %>
    <%= f.submit "Sök efter student", :onclick => "$('spinner').show();"  %>
    <img src="/images/spinner.gif" style="display: none; border:none; margin-bottom: -0.5em;" id="spinner" alt="" />
  <% end %>


  <div style="margin-top:1em;" id="results"></div>

  <script type="text/javascript" charset="utf-8">
    $('student_query').focus();
  </script>

</div>

<div class="span-8 last">
  <h3>Sökning</h3>
  <p>
    När RFID-läsare används måste sökfältet vara markerat. Data som inläses av läsaren skrivs in där markören står.
  </p>
  <p>
    Sökbara termer är RFID-nummer, streckkodsnummer, personnummer (ÅÅMMDD-XXXX) samt namn.
  </p>

  <h3>Rabatter</h3>
  <p>
    Kårmedlemskap visas då en student hittas via sökning.<br />
    Rabatter beräknas när en biljett har sparats, för att säkerhetsställa att det maximala antalet rabatterade biljetter inte överskrids.
  </p>

  <p class="highlight">
    DET ÄR VIKTIGT ATT ALLA BILJETTER SOM SÄLJS TILL KÅRMEDLEMMAR REGISTRERAS.
  </p>

  <h3>Vid problem</h3>
  <p>
    Vid strul kontakta:<br />
    <a href="mailto:johan@duh.se">Johan Eckerström</a> 0732411798
  </p>
</div>

<!-- <script type="text/javascript" charset="utf-8">
  Event.observe(document, 'keypress', function(event){
     numKeyPressed = event.keyCode - 48;
     if (numKeyPressed) {
        if ($("ticket_type_" + numKeyPressed).checked == 1) {
          $("ticket_type_" + numKeyPressed).checked = 0;
        } else {
          $("ticket_type_" + numKeyPressed).checked = 1;
        }
     }
  });
</script>
 -->

