<p>
  <%= link_to 'Tillbaka', @event %>
</p>

<div class="span-12">

  <h1>Försäljning för <%= @event %></h1>

  <div id="status" class="highlight shadow" style="padding: 0.5em;">
    &nbsp;
  </div>

  <div class="span-11 prepend-top right">
    <!-- Sök student -->
    <%= form_for(:student, :url => search_event_students_path(@event), :remote => true, :html => { :class => :search }) do |f| %>
      Använd extern läsare eller <%= f.text_field :query, :value => 'Sök student' %>
      <%#= f.submit "Sök efter student", :onclick => "$('spinner').show();"  %>
      <img src="/images/spinner.gif" style="display: none; border:none; margin-bottom: -0.25em;" id="loading" alt="" />
    <% end %>

    <script type="text/javascript">
      $('#student_query').focus(function() {
        if($(this).attr("value") == $(this).attr("defaultValue")) {
          $(this).attr("value", '');
        }
      });

      jQuery(function($) {
        // create a convenient toggleLoading function
        var toggleLoading = function() { $("#loading").toggle() };

        $("#tool-form")
          .bind("ajax:loading",  toggleLoading)
          .bind("ajax:complete", toggleLoading)
          .bind("ajax:failure", function(data, status, xhr) {
            $("#status").html(status);
          });
      });
    </script>
  </div>

  <%= form_for(:student, :url => search_card_event_students_path(@event), :remote => true, :html => { :id => :search_card_form}) do |f| %>
    <%= f.hidden_field :atr %>
    <%#= f.submit "Sök efter student", :onclick => "$('spinner').show();"  %>
  <% end %>


  <table class="span-12 prepend-top" id="results">

  </table>

</div>

<div class="span-8 last">
  <h2>Statistik</h2>
</div>
