<p>
  <%= link_to 'Tillbaka', @event %>
</p>

<div class="span-12">

  <h1>Försäljning för <%= @event %></h1>

  <!-- Sök student -->
  <%= form_for(:student, :url => search_event_students_path(@event), :remote => true) do |f| %>
    <%= f.text_field :query %>
    <%= f.submit "Sök efter student", :onclick => "$('spinner').show();"  %>
    <img src="/assets/spinner.gif" style="display: none; border:none; margin-bottom: -0.5em;" id="spinner" alt="" />
  <% end %>


  <div style="margin-top:1em;" id="results"></div>

  <script type="text/javascript" charset="utf-8">
    $(document).ready(function() {
      $('#student_query').focus();
    });
  </script>

</div>

<div class="span-8 last">
</div>

<!-- <script type="text/javascript" charset="utf-8">
  Event.observe(document, 'keypress', function(event){
     numKeyPressed = event.keyCode - 48;
     if (numKeyPressed) {
        if ($("ticket_type_" + numKeyPressed).checked == 1) {
          $("ticket_type_" + numKeyPressed).checked = 0;
        } else {
          $("ticket_type_" + numKeyPressed).checked = 1;
        }
     }
  });
</script>
 -->

