<p>
  <%= link_to 'Tillbaka', @event %>
</p>

<div class="span-12">

  <h1>Försäljning för <%= @event %></h1>

  <div id="status" class="highlight shadow" style="padding: 0.5em;">
    Väntar på kortläsare ...
  </div>

  <div class="span-5 prepend-top right">
    <!-- Sök student -->
    <%= form_for(:student, :url => search_event_students_path(@event), :remote => true, :html => { :class => :search }) do |f| %>
      <%= f.text_field :query, :value => 'Sök student' %>
      <%#= f.submit "Sök efter student", :onclick => "$('spinner').show();"  %>
      <img src="/images/spinner.gif" style="display: none; border:none; margin-bottom: -0.5em;" id="spinner" alt="" />
    <% end %>
    <script type="text/javascript">
      $('student_query').onclick = function(e) { if ($('student_query').value == 'Sök student') { $('student_query').value = ''; } };
    </script>
  </div>

  <%= form_for(:student, :url => search_card_event_students_path(@event), :remote => true, :html => { :id => :search_card_form}) do |f| %>
    <%= f.hidden_field :atr %>
    <%#= f.submit "Sök efter student", :onclick => "$('spinner').show();"  %>
  <% end %>


  <table class="span-12 prepend-top" id="results">

  </table>

  <script type="text/javascript" charset="utf-8">
    $('student_query').focus();
  </script>

</div>

<div class="span-8 last">
  <h2>Statistik</h2>
</div>
