<p>
  <%= link_to 'Tillbaka', events_path %>
</p>

<h1><%= @event.title %></h1>

<p>
  <%= @event.description %>
</p>


<%= link_to 'Utlämning', handout_event_path(@event) %> |
<%= link_to 'Sälj', sale_event_path(@event) %> |
<%= link_to 'Statistik', statistics_event_path(@event) %> |
<%= link_to 'Hantera biljettertyper', event_ticket_types_path(@event) %> |
<%= link_to 'Hantera registreringar', event_registration_batches_path(@event) %> |
<%= link_to 'Ändra', edit_event_path(@event) %>
