<p>
  <%= link_to 'Tillbaka', @event %>
</p>

<style type="text/css" media="screen">
  tr.sub_table td { font-size: 90%; color: #777; }
  div.right-align td, div.right-align th { text-align: right; }
/*  tr.total, tr.total td, td.total, tr:nth-child(even) td.total, tr:nth-child(odd) td.total  { background: #000; color: #fff; }*/
</style>

<h1>Statistik för <%= @event %></h1>


<div class="span-10">
  <% @ticket_types.each do |ticket_type| %>
  <h2>Sålda biljetter för <%= ticket_type %></h2>
  <table>
    <% ticket_type.tickets.select(:union_discount).group_by(&:union_discount).select {|u| !u.nil?}.collect {|u| [u[0], u[1].size] }.each do |u| %>
      <tr>
        <td>Antal biljetter för <%= u[0] %></td>
        <td><%= u[1] %></td>
      </tr>
    <% end %>

    <% if ticket_type.extra_discount_for_union? %>
    <tr>
      <td>Varav biljetter med extra rabatt (<%= ticket_type.extra_discount_for_union %>)</td>
      <td><%= ticket_type.number_of_extra_discounts.to_i %></td>
    </tr>
    <% end %>
  </table>
  <% end %>
</div>


<div class="span-16 right-align">
  <h2>Försäljningsstatistik</h2>

  <table>
    <tr>
      <th></th>
      <th style="padding-right: 0;">
        <div style="border-bottom: 1px solid #ccc;">
          Kårbiljetter
        </div>
      </th>

      <% @union_stats.each do |union| %>
        <th style="padding: 2.9em 0 0 0; font-weight: normal;">
          <div style="border-top: 1px solid #ccc;">
          <%= union[0] %>
          </div>
        </th>
      <% end %>

      <th>Icke kår</th>

      <th>Totalt</th>
    </tr>
    <% @ticket_types.each do |ticket_type| %>
      <tr>
        <th style="border-top: 1px solid #555;">
          <%= ticket_type %>
        </th>
        <td style="border-top: 1px solid #555;">
          <%= ticket_type.tickets.any_union.count %>
        </td>

        <% for union in @unions %>
          <td style="border-top: 1px solid #555;">
            <%= ticket_type.tickets.where(:union_discount => union).count %>
          </td>
        <% end %>

        <td style="border-top: 1px solid #555;">
          <%= ticket_type.tickets.no_union.count %>
        </td>

        <td class="total" style="border-top: 1px solid #555;">
          <%= ticket_type.tickets.count %>
        </td>
      </tr>
      <% total_per_day = ticket_type.tickets.group("DATE(created_at)").size %>
      <% union_per_day = ticket_type.tickets.any_union.group("DATE(created_at)").size %>
      <% total_per_day.each do |total| %>
        <% date = total[0]%>
      <tr class="sub_table">
        <td>
          <%= date %>
        </td>
        <td>
          <%= union_per_day[date].to_i %>
        </td>

        <% for union in @unions %>
        <td>
          <%= ticket_type.tickets.where("DATE(created_at) LIKE :date AND union_discount LIKE :union_discount",
            :date => date, :union_discount => union).count %>
        </td>
        <% end %>

        <td>
          <%= ticket_type.tickets.where("DATE(created_at) LIKE :date", :date => date).where(:union_discount => nil).count %>
        </td>
        <td class="total">
          <%= total[1].to_i %>
        </td>
      </tr>
      <% end %>
    <% end %>

    <tr class="total">
      <th>Totalt</th>
      <td>
        <%= @event.tickets.any_union.count %>
      </td>
      <% @unions.each do |union| %>
      <td>
        <%= @event.tickets.union(union).count %>
      </td>
      <% end %>
      <td>
        <%= @event.tickets.no_union.count %>
      </td>
      <td>
        <%= @event.tickets.count %>
      </td>
    </tr>
  </table>
</div>