<tr id="<%= @student.liu_id %>">
  <td class="<%= @student.union_member? ? 'green' : 'gray' %>">
    <%= @student%>
  </td>
  <td class="<%= @student.union_member? ? 'green' : 'gray' %>">
    <%= @student.union %>
  </td>
  <td>
    <%= link_to_function image_tag('icons/delete.png', :alt => 'Ta bort') do |page|
          page.remove @student.liu_id
        end %>
  </td>
</tr>