<h3>
  <%= @message %>
</h3>

<%= form_for(:ticket, :url => sale_event_tickets_path(@event), :remote => true) do |f| %>
  <span id="hidden_field"></span>
  <% unless @event.available_ticket_types.empty? %>
    <ul style="">
    <% @event.available_ticket_types.each do |ticket_type| %>
      <% has_ticket = (@visitor && @visitor.tickets.collect {|t| t.ticket_type}.include?(ticket_type)) %>
      <li style="font-size:150%; margin-bottom: 0.5em; list-style-type:none;">
        <%= check_box_tag "ticket_type[#{ticket_type.id}]", "1", @event.available_ticket_types.size == 1,
          :disabled => has_ticket %>
        <%= label_tag "ticket_type[#{ticket_type.id}]", ticket_type %>
        <% if has_ticket %>
          (redan registrerad)
        <% end %>
      </li>
    <% end %>
    </ul>
  <% else %>
    <p>Finns inga tillgängliga biljetter.</p>
  <% end %>

  <div id="union_override" style="display:none;">
    <%= link_to_function "Tvinga kårmedlemskap", "$('#union_override_form').toggle();" %>
  </div>

  <div id="union_override_form" style="display:none; margin-top: 1em;">
    <%= select :student, :union, Studentkoll.unions, { :include_blank => true } %>
  </div>

  <p><%= f.submit "Registrera", :id => 'ticket_submit' %></p>
<% end %>
