<h3 class="<%= @status %>">
  <%= @message %>
</h3>

<% unless @event.permanent? %>
  <% if @tickets %>
    <ul>
    <% @tickets.each do |ticket|%>
      <li>
        <%= ticket.price %> SEK, <%= ticket %>
        <% if ticket.union_discount? %>
          <% if ticket.extra_discount? %>
            (Rabatt för <%= ticket.union_discount %>)
          <% else %>
            (Rabatt kår)
          <% end %>
        <% else %>
          (Inga rabatter)
        <% end %><br />
        Totalt antar biljetter sålda: <strong><%= ticket.ticket_type.tickets.size %></strong>
      </li>
    <% end %>
      <li>
        <strong>Totalt: <%= @tickets.collect {|t| t.price }.sum %> SEK</strong>
      </li>
    </ul>
  <% end %>
<% end %>