<p>
  <%= link_to 'Tillbaka', event_path(@event) %>
</p>

<h1><%= @event %></h1>

<!-- <p><%= link_to 'Registrera besökare', new_event_registration_batch_path(@event)%></p> -->

<table>
  <tr>
    <th>Id</th>
    <th>Kommentar</th>
    <th>Antal registreringar</th>
    <th>Antal biljetter</th>
    <th></th>
  </tr>
  <% for batch in @registration_batches do %>
  <tr>
    <td><%= link_to batch.id , [@event, batch] %></td>
    <td><%= link_to batch.note, [@event, batch] %></td>
    <td><%= batch.registrations.count %></td>
    <td><%= batch.tickets.count %></td>
    <td>
      <% if batch.safe_for_deletion? %>
        <%= link_to 'Ta bort', [@event, batch], :method => :delete, :confirm => 'Säker på att du vill ta bort batchen?' %>
      <% end %>
    </td>
  </tr>
  <% end %>
  <tr>
    <td></td>
    <td><strong>Totalt</strong></td>
    <td><%= @event.registrations.count %></td>
    <td><%= @event.tickets.count %></td>
  </tr>
</table>

