<h1><%= @event %></h1>

<p style="width: 40em;">
  <%= label :registration_batch, 'Data' %><br />
  <%= text_area :registration_batch, :data %>
</p>

<h2>Visitors</h2>

<table>
  <tr>
    <th>first_name</th>
    <th>last_name</th>
    <th>email</th>
    <th>personal_number</th>
    <th>barcode_number</th>
    <th>created_at</th>
    <th>rfid_number</th>
  </tr>
  <%= render :partial => 'visitors/visitor_row', :collection => @visitors %>
</table>

<p>
  <%= link_to 'Tillbaka', event_registration_batches_path(@event) %>
</p>