<p>
  <%= link_to 'Tillbaka', event_registration_batches_path(@event) %>
</p>

<h1><%= @registration_batch %></h1>

<p>
  <%= form_for(@ticket_type, :as => :ticket_type,
        :url => generate_tickets_event_registration_batch_path(@event, @registration_batch)) do |f| %>
    <%= f.label :id, 'Biljetttyp' %>
    <%= f.select :id, @event.ticket_types.collect {|t| [t.name, t.id]} %>
    <%= f.submit "Generera biljetter" %>
  <% end %>
</p>

<p>
  <%= link_to 'Registreringar', event_registration_batch_visitors_path(@event, @registration_batch)%> |
  <%= link_to 'Data', data_event_registration_batch_path(@event, @registration_batch) %>
</p>