<!DOCTYPE html>
<html>
<head>
  <title>Cobra</title>
  <%= javascript_include_tag :defaults %>
  <%= stylesheet_link_tag 'blueprint/screen', :media => 'all' %>
  <%= stylesheet_link_tag 'blueprint/print', :media => 'print' %>
  <!--[if lt IE 8]>
  <%= stylesheet_link_tag 'blueprint/ie', :media => 'screen, projection'%>
  <![endif]-->
  <%= stylesheet_link_tag 'cobra' %>
  <%= csrf_meta_tag %>
</head>
<body>

<div class="span-24">
  <% if notice %><p class="notice"><%= notice %></p><% end %>
  <% if alert %><p class="alert"><%= alert %></p><% end %>
</div>

<div style="position:absolute; top: 1em; right: 1em;">
<p>
  <% if user_signed_in? %>
  Inloggad som <%= current_user %> (<%= link_to 'Logga ut', destroy_user_session_path %>)
  <% end %>
</p>
</div>

<div class="span-24 prepend-1 prepend-top">
  <%= yield %>
</div>

</body>
</html>
