<!DOCTYPE html>
<html>
<head>
  <title>KOBRA</title>
  <%= javascript_include_tag 'application' %>
  <%= stylesheet_link_tag '/stylesheets/blueprint/screen', :media => 'all' %>
  <%= stylesheet_link_tag '/stylesheets/blueprint/print', :media => 'print' %>
  <!--[if lt IE 8]>
  <%= stylesheet_link_tag '/stylesheets/blueprint/ie', :media => 'screen, projection'%>
  <![endif]-->
  <%= stylesheet_link_tag 'application' %>
  <%= csrf_meta_tag %>
</head>
<body>

<div class="span-24 prepend-1">
  <% if notice %><p class="notice"><%= notice %></p><% end %>
  <% if alert %><p class="alert"><%= alert %></p><% end %>
</div>

<div style="position:absolute; top: 1em; right: 1em;">
<p>
  <% if user_signed_in? %>
    Inloggad som <%= link_to current_user, '/user' %> (<%= link_to 'Logga ut', destroy_user_session_path %>)
    <% if current_user.admin? %>
      <br />
      <%= link_to 'Hantera användare', users_path %><br />
    <% end %>
  <% end %>
</p>
</div>

<div class="span-24 prepend-1 prepend-top clear">
  <%= yield %>
</div>

</body>
</html>
